@import '/main.css';

.navbar {
  z-index: 2;
  position: fixed;
  width: 100%;
}

.navbar__container {
  display: flex;
  justify-content: flex-end;
  padding: 24px;
  gap: 24px;
  width: 1024px;
  height: 90px;
  background: var(--primary-def-bg-color);
}

.navbar__item {
  border-color: var(--secondary-def-bg-color);
}

.navbar__item:hover {
  background: var(--secondary-hover-bg-color);
  color: var(--primary-def-font-color);
}

.navbar__item:active {
  background: var(--secondary-def-bg-color);
  color: var(--primary-def-font-color);
}

.navbar__user-button {
  gap: 13px;
}

.navbar__user-button:hover {
  background: var(--primary-def-bg-color);
  border-color: var(--secondary-def-bg-color);
}

.navbar__user-button:active {
  background:  var(--secondary-def-bg-color);
}

.navbar__user-button:active .arrow-down {
  fill: var(--secondary-active-bg-color);
}

@media screen and (min-width: 1024px) {
  .navbar__container {
    width: 100%;
  }
}