$primary-def-bg-color: #1F75CB;
$primary-hover-bg-color: #1068BF;
$primary-active-bg-color: #0B5CAD;
$secondary-def-bg-color: #FFFFFF;
$secondary-hover-bg-color: #ECECEF;
$secondary-active-bg-color: #DCDCDE;
$disabled-bg-color: #DCDCDE;

$def-border-color: rgba(0, 0, 0, 0.15);
$def-hover-border-color: rgba(18, 19, 22, 0.5);
$def-active-border-color: #1C1C1C;
$def-error-border-color: #EE4222;
$def-disabled-border-color: rgba(0, 0, 0, 0.15);
$def-bronze-border-color: #9E6955;

$primary-def-font-color: #1C1C1C;
$secondary-font-color: #FFFFFF;
$disabled-font-color: #8E8E8E;
$error-font-color: #EE4222;
$placeholder-font-color: #D9D9D9;